.navbar{
    box-shadow: 2px 3px 5px #000;
    background-color: #006cb1;
}

.row{
    margin: 0;
}



/**************************************************************CONTROLES CARRUSEL*/
.main-header .container .row {
    color: #000;
}
/**************************************************************BOTON DE CAROUSEL ANTERIOR*/
.carousel-control-prev-icon{
    background-color: red;
    border-radius: 20%;
}
/**************************************************************BOTON DE CAROUSEL SIGUENTE*/
.carousel-control-next-icon{
    background-color: red;
    border-radius: 20%;
}
/***************************************************************CEPRE*/
#CounterCepre{
    background-image: url(IMAGENES/1UNA/CONTADOR/1Cepre.png);
    background-size: cover;
    background-position: center;
    min-height: 600px; 
    text-align: justify;
    padding-top: 20px !important;
     
}
/***************************************************************ESTILOS DE EFECTO ZOOM*/
@media screen and (min-width:576px){
    .container-img{
        display: none;
    }
}
@media screen and (max-width:576px){
    .container-img{
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateX(-200%);
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .move{
        transform: translateX(0);
    }
    .img-show{
        width: 100%;
        display: block;
        object-fit: cover;
    }
}
/***************************************************************ESTILOS DE EFECTO ZOOM*/
/***************************************************************GENERAL*/
#CounterGeneral{
    background-image: url(IMAGENES/1UNA/CONTADOR/2General.png);
    background-size: cover;
    background-position: center;
    width: 100%; 
    text-align: justify;
   
    padding-top: 14px !important;
     
}
.cover{
    height: 500px;
    background-image: url(IMAGENES/img\ font\ two.png);
    background-size: cover; 
    background-position: center;  
}
/******************************************************ESTILOS DE CARRERAS*****/
.main-header-two{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    min-height: 225px;
}

.card{
    border: 0 !important; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
    background-color: #0e1a36;
    
}
.cover-small{ /* COVER PARA LA CARD DE TODAS LAS TARJETAS */
    height: 271px;
    background-blend-mode: mormal;
    }  
/******************************************************************/
.cover-small-fisico-matematica{ /* COVER PARA LA CARD DE TODAS LAS TARJETAS */
    height: 220px;
    background-blend-mode: mormal;
    } 
@media screen and (max-width:576px){
    .card .cover-small-fisico-matematica{
        display: none;}
}
/******************************************************************/
.cover-small-edu-secundaria{
    height: 30px;
    background-blend-mode: mormal;
} 
/******************************************************************/
.cover-small-edu-biologia{
    height: 144px;
    background-blend-mode: mormal;
}
@media screen and (max-width:576px){
    .card .cover-small-edu-biologia{
        display: none;
    }
}
/******************************************************************/
.cover-small-edu-arte{
    height: 170px;
    background-blend-mode: mormal;
} 
@media screen and (max-width:576px){
    .card .cover-small-edu-arte{
        display: none;
    }
}
/******************************************************************/

@media screen and (max-width:992px){
    .cover-small-edu-secundaria{
        height: 10px;
        background-blend-mode: mormal;
    } 
}
@media screen and (max-width:1200px){
    .cover-small-edu-secundaria{
        height: 10px;
        background-blend-mode: mormal;
    } 
}
/*
#AREAINGENIERIAS style{
    width: 100%;

}**/
@media screen and (max-width:576px){
   .card .cover-small{
    display: none;}
    /*quitamos imagenes de los CARD-GENERAL*/
   
    .card-title{
        min-height: 1rem !important; /*especificacamos la distancia del titulo del card al siguente texto*/
        color: white;
        font-size: 15px;
    }
    .btn-primary{
        font-size: 12px;
    }
    .main-header-two h1{
        font-size: 19px;
    }
    .main-header-two h2{
        font-size: 19px;
    }
    
   }




    
.card-title{
    min-height: 5rem; /*especificacamos la distancia del titulo del card al siguente texto*/
    color: white;
}
section [id]{
    scroll-margin-top: 195px;
}


/***************************************************************FOOTER*/
    

.footer-all{
    width: 100%;
    background-color: #2c2c54;
}
/**************************FOOTER LOGOS

/**************************MAPS*/
.responsive-iframe{
    position: relative;
    padding-top: 50%;
}
.responsive-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}


.footer-all .group-one{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px;
}
.footer-all .group-one .social-networks a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: aqua;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
}
.footer-all .group-one .social-networks a:hover{
    color: #2c2c54;
}

.footer-all .group-two{
    background-color: #474787;
    padding: 15px 10px;
    text-align: center;
}
/***RESPONSIVE BOX CEPRE**/
@media screen and (max-width:576px) {
    #CounterCepre{
        background-image: url();
        background-color: #2a2a55;
        background-size: cover;
        background-position: center;
        
        margin-top: 0px;
        padding-top: 13px !important;
    }
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h6{
        font-size: 13px;
        text-align: justify;
    }
}
/***RESPONSIVE BOX GENERAL**/
@media screen and (max-width:576px) {
    #CounterGeneral{
        background-image: url();
        background-color: rgb(151, 16, 50);
        background-size: cover;
        background-position: center;
        
        min-height: 600px; 
        margin-top: 0px;
        padding-top: 13px !important;
    }
    #botonescepre{
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h6{
        font-size: 13px;
        text-align: justify;
    }
   
}




@media screen and (max-width:800px) {
    .footer-all .group-one{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 40px 0px;
        }
      
}

@media screen and (max-width:576px) {

    #font-footer h6{
        font-size: 10px;
    }
    #font-footer h5{
        font-size: 15px;
    }
}